@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --color-light-primary: 251, 238, 228;
  --color-dark-primary: 21, 21, 21;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(var(--color-light-primary));
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: rgb(var(--color-dark-primary));
}