.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: rgb(var(--color-light-primary));
}

.extra {
  display:inline-block;
  opacity: 0;
  transition: 0.3s;
  color: orange;
}

.firstName:hover .extra {
  opacity: 1;
}

.firstName:hover > [class*=extra] {
  background: linear-gradient(
    to right,
    orange,
    tomato,
    tomato,
    orange
  );
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 20s linear infinite;
}